command:
  /home/ubuntu/gem5/build/ALPHA/gem5.opt: True
  --outdir: ./
  /home/ubuntu/gem5/configs/example/se.py: True
  --num-cpus: ${core}
  --cpu-type: detailed
  --cpu-clock: 1GHz
  --mem-type: SimpleMemory
  --caches: True
  --l2cache: True
  --l1d_size: ${l1size}
  --l1d_assoc: ${l1assoc}
  --l2_size: ${512kB}
  --l2_assoc: ${l2assoc}
  --l2_latency: ${latency}
  --cmd: /home/ubuntu/gem5/splash2/fft/FFT
  --options: "-p2"

core: 16kB
l1size: 4
l1assoc: 2
l2size: 512kB
l2assoc: 8
latency: 2
